.ja .bold {
	font-family: 'HiraMinProN-W6', Roboto, 'Meiryo UI', 'Meiryo', sans-serif;
}

.ja {
	font-family: 'HiraKakuProN-W3', 'Hiragino Kaku Gothic ProN', Roboto, 'Meiryo UI', 'Meiryo', sans-serif;
}

.bold {
	font-weight: 700;
}

.en {
	font-family: Roboto, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}
